# Zadanie 10

# EXERCISE 10.1 (VENV)

conda create --name myenv numpy matplotlib pandas
y
conda activate myenv

# EXERCISE 10.2 (SERIES)

Create pd.Series where 'index' contains days of the current month and 'data' contains some numbers (temperatures at noon, currency rates, ...).

In [3]:
import pandas as pd
#today is june 11
index=[i+1 for i in range(11)]
sunny_days=[1,0,1,1,1,0,1,0,1,1,1]
ser = pd.Series(data=sunny_days, index=index)
ser

1     1
2     0
3     1
4     1
5     1
6     0
7     1
8     0
9     1
10    1
11    1
dtype: int64

# EXERCISE 10.3 (DATAFRAME)

Create pd.DataFrame for the periodic table (ten elements). Column names are 'Name', 'Symbol', 'Weight'. 'index' starts from 1 for hydrogen.

In [14]:
df=pd.DataFrame()
df['index']=[i+1 for i in range(10)]
df=df.set_index('index')
df['Name']=['Hydrogen', 'Helium','Lithium', 'Beryllium', 'Boron','Carbon','Nitrogen','Oxygen','Fluorine',"Neon"]
df['Symbol']=['H','He','Li','Be','B','C','N','O','F','Ne']
df['Weight']=[1.0078,4.0026,6.9410,9.0122,10.811,12.011,14.007,15.999,18.998,20.180]

In [15]:
df

            Name Symbol   Weight
index
1       Hydrogen      H   1.0078
2         Helium     He   4.0026
3        Lithium     Li   6.9410
4      Beryllium     Be   9.0122
5          Boron      B  10.8110
6         Carbon      C  12.0110
7       Nitrogen      N  14.0070
8         Oxygen      O  15.9990
9       Fluorine      F  18.9980
10          Neon     Ne  20.1800